button{
	background-image: linear-gradient(lightblue, rgb(126, 155, 165));
	/*background-color: lightblue;*/
	min-width: fit-content;
	min-height: fit-content;
	text-align: center;
	font-size: 3vmin;
	border-radius: 1vmin;
	transition: 0.3s;
}
button:hover:enabled{
	background-image: linear-gradient(rgb(111, 136, 145), rgb(126, 155, 165));
    /*background-color: rgb(77, 95, 100);*/
}

button.small{
	font-size: 2vmin;
}

#btnPlay{
	cursor: pointer;
	position: absolute;
	top: 80%;
	left: 50%;
	width: 15vmin;
	height: 5vmin;
	transform: translate(-50%,-50%);
}

#btnSave{
	cursor: pointer;
	position: absolute;
	top: 90%;
	right: 5%;
	transform: translate(0%,-60%);
	width: 15vmin;
	height: 5vmin;
}

#btnClose{
	background-image: linear-gradient(rgb(177, 72, 115), rgb(112, 45, 73));
	/*background-color: rgb(177, 72, 115);*/
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 5%;
	left: 94%;
	transform: translate(-50%,-50%);
	width: 5vmin;
	height: 5vmin;
}
#btnClose:hover{
	background-image: linear-gradient(rgb(122, 51, 81), rgb(63, 25, 41));
	/*background-color: rgb(54, 40, 46);*/
}

#btnDisplay{
	cursor: pointer;
	position: absolute;
	top: 90%;
	left: 15%;
	transform: translate(-50%,-50%);
	width: 15vmin;
	height: 5vmin;
}

input{
	background-image: linear-gradient(lightblue, rgb(126, 155, 165));
	border-radius: 1vmin;
}

select{
	background-image: linear-gradient(lightblue, rgb(126, 155, 165));
	cursor: pointer;
	border-radius: 1vmin;
}

select:hover:enabled{
	background-image: linear-gradient(rgb(111, 136, 145), rgb(126, 155, 165));
    /*background-color: rgb(77, 95, 100);*/
}

#level
{
	width: 15vmin;
	height: 5vmin;
	font-size: 3vmin;
	text-align: center;
	background-color: lightblue;
}

#inputUsername{
	width: 15vmin;
	height: 4.5vmin;
	font-size: 3vmin;
	background-color: lightblue;
}

#threejsContainer{
	background: rgba(0,0,0,0);
	z-index: 10;
}

#menuContainer{
	background-image: linear-gradient(lightgray, gray);
	/*background: rgba(255,255,255,0.8);*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70vmin;
	height: 70vmin;
	padding: 1vmin;
	margin: 0px;
	border-radius: 2vmin;
	z-index: 8;
}

#usernameContainer{
	font-size: 15px;
	position: absolute;
	top: 70%;
	left: 5%;
	transform: translate(0%,-60%);
}

#username{
	width: 15vmin;
	height: 5vmin;
	font-size: 15px;
	text-align: center;
}

#currentParamContainer{
	background-image: linear-gradient(lightgray, gray);
	/*background: rgba(255,255,255,0.8);*/
	position: absolute;
	top: 0%;
	left: 0%;
	width: fit-content;
	height: fit-content;
	padding: 1vmin;
	margin: 0px;
	border-radius: 2vmin;
	z-index: 8;
}

#selectContainer{
	display:block;
	position: absolute;
	top: 68%;
	right: 5%;
	transform: translate(0%,-60%);
}

#displayContainer {
	border-radius: 1vmin;
	border-style: solid;
	background-image: linear-gradient(lightgray, gray);
	overflow-y: scroll;
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40vmin;
	height: 40vmin;
	z-index: 8;
  }

#displayDataList {
	border-width: thin;
	border-radius: 1vmin;
	border-style: solid;
	list-style-position: inside;
	background-image: linear-gradient(lightblue, rgb(126, 155, 165));
	/*background-color:lightblue;*/
	padding: 5%;
	font-size: 5 vw;
}

h2{
	font-size: 4vmin;
	text-align: center;
}

h3{
	font-size: 3vmin;
	text-align: center;

}

h4{
	font-size: 2vmin;
}

label{
	display:block;
	font-size: 3vmin;
}

#loading{
	opacity: 0;
    transition: all 1s ease-in-out;
	position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%,-100%);
}

#levelType{
	opacity: 0;
	position: absolute;
	top: 88%;
	left: 50%;
	transform: translate(-50%,-100%);
}

canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50vmin;
	height: 50vmin;
}

/*FROM https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip*/
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 60vmin;
	background-color: black;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}