button{
	min-width: fit-content;
	min-height: fit-content;
	text-align: center;
	font-size: 3vmin;
}

button.small{
	font-size: 2vmin;
}

#btnPlay{
	background-color: lightblue;
	cursor: pointer;
	position: absolute;
	top: 80%;
	left: 50%;
	width: 15vmin;
	height: 5vmin;
	transform: translate(-50%,-50%);
}

#btnSave{
	background-color: lightblue;
	cursor: pointer;
	position: absolute;
	top: 80%;
	left: 15%;
	transform: translate(-50%,-50%);
	width: 15vmin;
	height: 5vmin;
}

#level{
	width: 15vmin;
	height: 5vmin;
	font-size: 3vmin;
	text-align: center;
}

#threejsContainer{
	background: rgba(0,0,0,0);
	z-index: 10;
}

#menuContainer{
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70vmin;
	height: 70vmin;
	padding: 1vmin;
	margin: 0px;
	border-radius: 2vmin;
	z-index: 8;
}

#currentParamContainer{
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 0%;
	left: 0%;
	width: fit-content;
	height: fit-content;
	padding: 1vmin;
	margin: 0px;
	border-radius: 2vmin;
	z-index: 8;
}

#selectContainer{
	display:block;
	position: absolute;
	top: 80%;
	right: 5%;
	transform: translate(0%,-60%);
}

h2{
	font-size: 4vmin;
	text-align: center;
}

h3{
	font-size: 3vmin;
	text-align: center;
}

label{
	display:block;
	font-size: 3vmin;
}

#loading{
	opacity: 0;
    transition: all 1s ease-in-out;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-100%);
}

canvas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50vmin;
	height: 50vmin;
}

/*FROM https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip*/
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 60vmin;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }